---
- name: disable auto apt updates/upgrades
  template:
    src: apt.j2
    dest: /etc/apt/apt.conf.d/20auto-upgrades
    mode: 0644
    owner: root
    group: root

- name: disable apt timers
  service:
    name: "{{ item }}"
    enabled: false
    state: stopped
  with_items:
    - apt-daily.timer
    - apt-daily-upgrade.timer
